{% extends 'base.html'%}{%block body%}
<h1>Verticle Tank Maintainance VTM</h1>
<hr/>
<h3>VTM Price Estimator</h3>
<from action="'/estimate" method='POST'>
    <lable for="Radius">Radius:</lable>
    <input type="number" id="Radius" name="Radius"/>
    <br/><br/>
    <lable for="Height">Height:</lable>
    <input type="number" id="Height" name="Height"/>
    <br/><br/>
    <input type="submit" id="submit" Value="Submit"/>
    <input type="reset" value="Clean"/>
</from>
{% if estimate%}The estimate price for this job is ${{estimate}}{% endif %}{%endblock%}
