
{% extends 'base.html' %} {% block body %}

<h1>Vertical Tanks Maintainance</h1>
<hr />
<h3>Welcome To VTM</h3>
<img 
  src="{{ url_for('static',filename='images/above_ground_vertical_tanks.jpg')}}"
/>


<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil rem repellat tempora aperiam quos asperiores. Repellendus impedit quod voluptatem corrupti, in id quae,
   reiciendis architecto reprehenderit qui, odio deserunt </p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, quos velit iure consectetur ad provident repellendus saepe fuga 
  libero doloribus earum quas commodi laborum natus quaerat illum unde incidunt. Mollitia.</p>
{% endblock %}
